footer {
  padding: 5%;
  position: absolute;
  bottom: 0;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  width: 100%;
  background: #bdc1be;
}

.column {
  width: 33.33%;
}

footer .logo {
  width: 60%;
  height: auto;
}

footer .ig-logo {
  width: 5%;
  height: auto;
}

a .link-eng {
  font-family: TWK Lausanne;
  font-size: 18px;
  font-weight: 300;
  line-height: 20px;
  letter-spacing: 0.01836734637618065px;
  text-align: left;
  text-transform: uppercase;
}

a .link-ar {
  font-family: ABC Favorit Arabic;
  font-size: 20px;
  font-weight: lighter;
  line-height: 27px;
  letter-spacing: 0.020408162847161293px;
  text-align: right;
}

footer .description-eng {
  font-family: TWK Lausanne;
  font-size: 18px;
  font-weight: 300;
  line-height: 23px;
  text-align: left;
}

footer .description-ar {
  font-family: ABC Favorit Arabic;
  font-size: 18px;
  font-weight: 400;
  line-height: 27px;
  letter-spacing: 0px;
  text-align: right;
}

footer .ig-container {
  display: flex;
  flex-direction: row;
}

footer .menu {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
